<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>404 Not Found - Newell Games</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/not-found.css}" />
</head>
<body>
<div class="page-container">
  <div class="content">
    <h1>Oops! We couldn't find that.</h1>
    <p>If you need any further assistance with your query,</p>
    <p>please don't hesitate to reach out to our support team.</p>
    <p>We're here to help!</p>
    <p class="error-code">Error code: 404 Not Found</p>
    <a href="/library" class="back-button">Go back</a>
  </div>
</div>
</body>
</html>